*.class
.project
.classpath

# Package Files #
*.jar
*.war
*.ear
/*/nbproject/*
/*/build/
/*/dist/
/*/test/
/*/lib/
/bin/*
/dist/*
/lib/*
*~
/*/target/
/*/nbproject/*
/**/nbproject/*
/**/target/*
/**/*.iml
/test-server/*
/loggers/BlocksHub-Logger-CoreProtect/target/
/accessors/BlocksHub-Accessor-Factions/target/
/BlocksHub_Accessors/BlocksHub-Accessor-Factions/target/
/BlocksHub_Loggers/BlocksHub-Logger-CoreProtect/target/
/BlocksHub_Accessors/BlocksHub-WorldGuard/build/
/BlocksHub_Accessors/BlocksHub-WorldGuard/dist/
/BlocksHub_Accessors/BlocksHub-Accessor-GriefPrevention/build/
/BlocksHub_Accessors/BlocksHub-Accessor-GriefPrevention/target/
/BlocksHub_Loggers/BlocksHub-Logger-LogBlock/build/
/BlocksHub_Loggers/BlocksHub-Logger-LogBlock/target/
/BlocksHub_Accessors/BlocksHub-Accessor-WorldGuard/target/
.idea/*
